@using Entity.ViewModels.Web.Auth
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="container">

    @using (Html.BeginForm("Register", "Auth", FormMethod.Post))
    {
        <div class="row g-3">
            <div class="col-md-6 offset-md-3">
                <h2>Kayıt ol</h2>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Tam Ad</label>
                        @Html.ValidationMessageFor(m => m.RegisterUserDto.FullName, null, new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.RegisterUserDto.FullName, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">E-Posta</label>
                        @Html.ValidationMessageFor(m => m.RegisterUserDto.Email, null, new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.RegisterUserDto.Email, new { @class = "form-control", type = "email" })
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Şifre</label>
                        @Html.ValidationMessageFor(m => m.RegisterUserDto.Password, null, new { @class = "text-danger" })
                        @Html.PasswordFor(m => m.RegisterUserDto.Password, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Şifre Tekrarı</label>
                        @Html.ValidationMessageFor(m => m.RegisterUserDto.PasswordConfirm, null, new { @class = "text-danger" })
                        @Html.PasswordFor(m => m.RegisterUserDto.PasswordConfirm, new { @class = "form-control" })
                    </div>
                    <div class="col-md-12 mt-2">
                        <button class="w-100 btn btn-primary" type="submit">Kaydı Tamamla!</button>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
